/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v27-latin_cyrillic-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v27-latin_cyrillic-500.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* Graphik LCG-Ligth */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/GraphikLCG-Light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/GraphikLCG-Light.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/GraphikLCG-Light.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* Graphik LCG-Regular */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/GraphikLCG-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/GraphikLCG-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* Graphik LCG-Medium */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/GraphikLCG-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/GraphikLCG-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* PF Agora Sans Pro-Regular */
@font-face {
  font-family: "PF Agora";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/PFAgoraSansPro-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/PFAgoraSansPro-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/PFAgoraSansPro-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* PF Agora Sans Pro-Medium */
@font-face {
  font-family: "PF Agora";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/PFAgoraSansPro-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/PFAgoraSansPro-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/PFAgoraSansPro-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* Segoe UI-Regular */
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/SegoeUI.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/SegoeUI.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/SegoeUI.ttf") format("truetype"); /* Safari, Android, iOS */
}

/*===== variables =====*/

$block-margin-botton: 100px;

/*===== main styles =====*/

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Graphik LCG", sans-serif;
  color: #241f20;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  outline: none;
}

.block__title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  color: #241f20;
}

/*===== header styles =====*/

.header {
  padding: 40px 0 35px;
}

.header__wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__company {
  width: 22%;
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }

  .header__name {
    max-width: 178px;
    font-family: PF Agora Sans Pro;
    font-size: 14px;
    line-height: 14px;
    color: #251c23;
  }
}

.header__menu {
  width: 60%;
}

.header__firstline,
.header__secondline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__firstline {
  margin-bottom: 10px;
}

.header__infoItem {
  margin-right: 11px;
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #241f20;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__contactsItem {
  position: relative;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;

  & path {
    transition: all 0.2s ease-in-out;
  }

  &:first-child {
    margin-right: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #828282;

    &:hover {
      color: #241f20;
    }
  }

  .header__contactsLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:nth-child(2) {
    &:hover path {
      fill: #00e676;
    }
  }

  &:nth-child(3) {
    &:hover path {
      fill: #593ebc;
    }
  }

  &:nth-child(4) {
    &:hover path {
      fill: #28a8e9;
    }
  }
}

.header__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #241f20;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #dc143c;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dc143c;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }

  &:hover::after {
    transform: scale(1);
  }
}

/*===== intro styles =====*/

.intro {
  background: #f5f4f4;
  margin-bottom: $block-margin-botton;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
}

.intro__leftBlock {
  min-width: 63%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  & img {
    display: block;
    max-width: 654px;
    height: auto;
  }
}

.intro__rightBlock {
  min-width: 32%;
  margin-left: 5%;
  padding: 90px 0 80px;
}

.intro__title {
  margin-bottom: 27px;
  font-family: "PF Agora", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #241f20;
}

.intro__subtitle {
  margin-bottom: 33px;
  font-size: 20px;
  line-height: 125%;
  color: #241f20;
}

.intro__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.intro__order,
.intro__about {
  display: block;
  margin-right: 11px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  appearance: none;
  transition: all 0.2s linear;
}

.intro__order {
  width: 184px;
  height: 48px;
  color: #f5f7f9;
  background-color: #dc143c;

  &:hover {
    background-color: #f3214b;
  }
}

.intro__about {
  width: 151px;
  height: 50px;
  color: #241f20;
  border: 1px solid #241f20;

  &:hover {
    border: 2px solid #241f20;
  }
}

/*===== staff styles =====*/

.staff {
  margin-bottom: $block-margin-botton;
}

.staff__title {
  margin-bottom: 35px;
}

.staff__subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

.staff__wrapper {
  display: flex;
  align-items: flex-start;
}

.staff__item {
  width: 18%;
  margin-right: 8%;

  &:last-child {
    margin-right: 0;
  }
}

.staff__icon {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 27px;
  box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08),
    0px 1px 2px rgba(11, 31, 53, 0.16);
  border-radius: 8px;
}

.staff__text {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
}

/*===== effects styles =====*/

.effects {
  margin-bottom: $block-margin-botton;
}

.effects__title {
  width: 65%;
  margin-bottom: 38px;
}

.effects__wrapper {
  display: flex;
  justify-content: flex-start;
}

.effects__item {
  width: 13%;
  margin-right: 4%;
  padding: 13px 15px 16px 16px;
  border: 1px solid #eeeff1;
  box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: translateY(-5px);
  }

  & img {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 17px;
  }
}

.effects__text {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #241f20;
}

/*===== simple styles =====*/

.simple {
  margin-bottom: $block-margin-botton;
}

.simple__title {
  margin-bottom: 35px;
}

.simple__subtitle {
  max-width: 60%;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

.simple__wrapper {
  display: flex;
  justify-content: space-between;
}

.simple__item {
  width: 22%;
  margin-right: 4%;

  &:last-child {
    margin-right: 0;
  }
}

.simple__icon {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid #eeeff1;
  box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08),
    0px 1px 2px rgba(11, 31, 53, 0.16);
  border-radius: 50%;
}

.simple__number {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #dc143c;
}

.simple__text {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
}

/*===== application styles =====*/

.application {
  margin-bottom: $block-margin-botton;
  padding: 60px 0 40px;
  background: rgba(0, 0, 0, 0.3) url("./../img/app1-bg.jpg") center / cover
    no-repeat;
}

.application__title {
  margin-bottom: 30px;
}

.application__form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.application__name,
.application__phone {
  margin-right: 26px;
}

.input__title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  color: rgba(44, 63, 83, 0.4);
}

.input__name,
.input__phone {
  display: block;
  width: 276px;
  height: 51px;
  padding-left: 21px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
  background: #fbfbfb;
  border-radius: 4px 4px 0px 0px;
  border: none;
  outline: none;
  appearance: none;
  border-bottom: 1px solid #7f8a96;

  &::placeholder {
    color: rgba(44, 63, 83, 0.8);
  }
}

.application__btn {
  display: block;
  width: 153px;
  height: 55px;
  background: #dc143c;
  box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  appearance: none;
  font-size: 18px;
  line-height: 18px;
  color: #f5f7f9;
  transition: all 0.2s linear;

  &:hover {
    background-color: #f3214b;
  }
}

/*===== meaning styles =====*/

.meaning {
  margin-bottom: $block-margin-botton;
}

.meaning__title {
  max-width: 740px;
  margin-bottom: 35px;
}

.meaning__wrapper {
  display: flex;
  justify-content: space-between;
}

.meaning__item {
  width: 28.5%;
}

.meaning__heading {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #241f20;
}

.meaning__text {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

.meaning__img {
  width: 100%;

  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
}

/*===== private styles =====*/

.private {
  margin-bottom: $block-margin-botton;
}

.private__title {
  margin-bottom: 35px;
}

.private__wrapper {
  display: flex;
  justify-content: space-between;
}

.private__item:first-child {
  position: relative;
  width: 35.6%;
  // margin-right: 4%;
  left: -67px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.private__item:nth-child(2) {
  width: 37%;
  margin-right: 3.5%;
}

.private__item:nth-child(3) {
  width: 30%;
}

.private__item:nth-child(2),
.private__item:nth-child(3) {
  margin-top: 148px;
  padding: 20px 25px 20px 20px;
}

.private__heading {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #241f20;
}

.private__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

/*===== tariffs styles =====*/

.tariffs {
  margin-bottom: $block-margin-botton;
}

.tariffs__title {
  margin-bottom: 35px;
}

.tariffs_subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #241f20;

  & span {
    margin-right: 9px;
  }
}

.tariffs__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
  padding: 28px 30px 30px 30px;
  border: 1px solid #dbdee1;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08),
      0px 1px 2px rgba(11, 31, 53, 0.16);
  }
}

.tariffs__img {
  max-width: 274px;
  max-height: 274px;
  margin-right: 57px;
  align-self: center;
}

.tariffs__info {
  width: 100%;
  border-bottom: 1px solid rgba(99, 86, 86, 0.2);
}

.tariffs__heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  color: #241f20;
}

.tariffs__subheading {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #241f20;
}

.tariffs__block {
  display: flex;
}

.tariffs__text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #241f20;
}

.tariffs__descr {
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #647180;
}

.tariffs__price {
  margin-right: 70px;
}

.tariffs__staff {
  margin-right: 33px;
}

/*===== team styles =====*/

.team {
  margin-bottom: $block-margin-botton;
}

.team__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.team__info {
  width: 28.5%;
  margin-right: 5.2%;
}

.team__title {
  margin-bottom: 35px;
}

.team__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #241f20;
}

.team__slider {
  position: relative;
  width: 66.3%;
  display: flex;
  justify-content: space-between;
}

.team__sliderItem {
  margin-right: 20px;

  & img {
    display: block;
    max-width: 650px;
    height: auto;
    border-radius: 4px;
  }
}

.team__sliderBG {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 12%;
  background: linear-gradient(270deg, #ffffff 0, rgba(255, 255, 255, 0.8) 100%);
}

.team__prev,
.team__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;

  & path {
    transition: all 0.2s linear;
  }

  &:hover path {
    fill-opacity: 1;
  }
}

.team__prev {
  display: none;
  left: -35px;
}

.team__next {
  right: 35px;
}

/*===== ability styles =====*/

.ability {
  margin-bottom: $block-margin-botton;
}

.ability__title {
  margin-bottom: 35px;
}

.ability__navbar {
  display: flex;
  max-width: 484px;
  margin: 0 auto 36px;
}

.ability__btn,
.unability__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 66px;
  background: #f5f7f9;
  border-radius: 4px;
  border: none;
  outline: none;
  appearance: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2c3f53;
  transition: all 0.2s ease-in-out;

  & svg {
    margin-right: 17px;
  }

  &.active {
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transform: scaleY(2px) translateY(2px);
  }

  & path {
    fill: #241f20;
  }

  &.active path {
    fill: #dc143c;
  }
}

.ability__wrapper {
  display: flex;
  justify-content: space-between;
}

.ability__item {
  width: 148px;
  height: 199px;
  padding: 10px;
  border: 1px solid #eeeff1;
  box-shadow: 0px 2px 10px -3px rgba(4, 4, 4, 0.2);
  border-radius: 12px;
}

.ability__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ability__content {
  display: flex;
  width: 200%;
  height: 100%;
  transition: all 0.2s linear;

  &.active {
    transform: translateX(-50%);
  }
}

.ability__yes,
.ability__no {
  width: 50%;
  height: 100%;
}

.ability__icon {
  margin-bottom: 17px;
}

.ability__text {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #241f20;
}

/*===== clients styles =====*/

.clients {
  margin-bottom: $block-margin-botton;
}

.clients__title {
  margin-bottom: 73px;
}

.clients__wrapper {
  display: grid;
  grid-template-areas:
    "client-1 client-2 client-3 client-4 client-5 client-6"
    "client-7 client-8 client-9 client-10 client-11 client-12"
    "client-13 client-14 client-15 client-16 client-17 .";
  // grid-template-columns: repeat(6);
  // grid-template-rows: repeat(3, 40px);
  grid-gap: 30px;
}

.client-1 {
  grid-area: client-1;
}

.client-2 {
  grid-area: client-2;
}

.client-3 {
  grid-area: client-3;
}

.client-4 {
  grid-area: client-4;
}

.client-5 {
  grid-area: client-5;
}

.client-6 {
  grid-area: client-6;
}

.client-7 {
  grid-area: client-7;
}

.client-8 {
  grid-area: client-8;
}

.client-9 {
  grid-area: client-9;
}

.client-10 {
  grid-area: client-10;
}

.client-11 {
  grid-area: client-11;
}

.client-12 {
  grid-area: client-12;
}

.client-13 {
  grid-area: client-13;
}

.client-14 {
  grid-area: client-14;
}

.client-15 {
  grid-area: client-15;
}

.client-16 {
  grid-area: client-16;
}

.client-17 {
  grid-area: client-17;
}
