/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-500.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* Graphik LCG-Ligth */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG-Light.woff") format("woff"), url("../fonts/GraphikLCG-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* Graphik LCG-Regular */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* Graphik LCG-Medium */
@font-face {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* PF Agora Sans Pro-Regular */
@font-face {
  font-family: "PF Agora";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/PFAgoraSansPro-Regular.woff2") format("woff2"), url("../fonts/PFAgoraSansPro-Regular.woff") format("woff"), url("../fonts/PFAgoraSansPro-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* PF Agora Sans Pro-Medium */
@font-face {
  font-family: "PF Agora";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/PFAgoraSansPro-Medium.woff2") format("woff2"), url("../fonts/PFAgoraSansPro-Medium.woff") format("woff"), url("../fonts/PFAgoraSansPro-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* Segoe UI-Regular */
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/*===== variables =====*/
/*===== main styles =====*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Graphik LCG", sans-serif;
  color: #241f20;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  outline: none;
}

.block__title {
  font-family: Graphik LCG;
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  color: #241f20;
}

/*===== header styles =====*/
.header {
  padding: 40px 0 35px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__company {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__company img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.header__company .header__name {
  max-width: 178px;
  font-family: PF Agora Sans Pro;
  font-size: 14px;
  line-height: 14px;
  color: #251c23;
}

.header__menu {
  width: 60%;
}

.header__firstline,
.header__secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__firstline {
  margin-bottom: 10px;
}

.header__infoItem {
  margin-right: 11px;
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #241f20;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__infoItem:hover {
  opacity: 1;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header__contactsItem {
  position: relative;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__contactsItem path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__contactsItem:first-child {
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

.header__contactsItem:first-child:hover {
  color: #241f20;
}

.header__contactsItem .header__contactsLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__contactsItem:nth-child(2):hover path {
  fill: #00e676;
}

.header__contactsItem:nth-child(3):hover path {
  fill: #593ebc;
}

.header__contactsItem:nth-child(4):hover path {
  fill: #28a8e9;
}

.header__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #241f20;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__link:hover {
  color: #dc143c;
  opacity: 1;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dc143c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*===== intro styles =====*/
.intro {
  background: #f5f4f4;
  margin-bottom: 100px;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__leftBlock {
  min-width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__leftBlock img {
  display: block;
  max-width: 654px;
  height: auto;
}

.intro__rightBlock {
  min-width: 32%;
  margin-left: 5%;
  padding: 90px 0 80px;
}

.intro__title {
  margin-bottom: 27px;
  font-family: "PF Agora", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #241f20;
}

.intro__subtitle {
  margin-bottom: 33px;
  font-size: 20px;
  line-height: 125%;
  color: #241f20;
}

.intro__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__order,
.intro__about {
  display: block;
  margin-right: 11px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro__order {
  width: 184px;
  height: 48px;
  color: #f5f7f9;
  background-color: #dc143c;
}

.intro__order:hover {
  background-color: #f3214b;
}

.intro__about {
  width: 151px;
  height: 50px;
  color: #241f20;
  border: 1px solid #241f20;
}

.intro__about:hover {
  border: 2px solid #241f20;
}

/*===== staff styles =====*/
.staff {
  margin-bottom: 100px;
}

.staff__title {
  margin-bottom: 35px;
}

.staff__subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

.staff__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.staff__item {
  width: 18%;
  margin-right: 8%;
}

.staff__item:last-child {
  margin-right: 0;
}

.staff__icon {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 27px;
  -webkit-box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08), 0px 1px 2px rgba(11, 31, 53, 0.16);
          box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08), 0px 1px 2px rgba(11, 31, 53, 0.16);
  border-radius: 8px;
}

.staff__text {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
}

/*===== effects styles =====*/
.effects {
  margin-bottom: 100px;
}

.effects__title {
  width: 65%;
  margin-bottom: 38px;
}

.effects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.effects__item {
  width: 13%;
  margin-right: 4%;
  padding: 13px 15px 16px 16px;
  border: 1px solid #eeeff1;
  -webkit-box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
          box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
  border-radius: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.effects__item:last-child {
  margin-right: 0;
}

.effects__item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.effects__item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 17px;
}

.effects__text {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #241f20;
}

/*===== simple styles =====*/
.simple {
  margin-bottom: 100px;
}

.simple__title {
  margin-bottom: 35px;
}

.simple__subtitle {
  max-width: 60%;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

.simple__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simple__item {
  width: 22%;
  margin-right: 4%;
}

.simple__item:last-child {
  margin-right: 0;
}

.simple__icon {
  width: 84px;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  border: 2px solid #eeeff1;
  -webkit-box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08), 0px 1px 2px rgba(11, 31, 53, 0.16);
          box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08), 0px 1px 2px rgba(11, 31, 53, 0.16);
  border-radius: 50%;
}

.simple__number {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #dc143c;
}

.simple__text {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
}

/*===== application styles =====*/
.application {
  margin-bottom: 100px;
  padding: 60px 0 40px;
  background: rgba(0, 0, 0, 0.3) url("./../img/app1-bg.jpg") center/cover no-repeat;
}

.application__title {
  margin-bottom: 30px;
}

.application__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.application__name,
.application__phone {
  margin-right: 26px;
}

.input__title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  color: rgba(44, 63, 83, 0.4);
}

.input__name,
.input__phone {
  display: block;
  width: 276px;
  height: 51px;
  padding-left: 21px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
  background: #fbfbfb;
  border-radius: 4px 4px 0px 0px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-bottom: 1px solid #7f8a96;
}

.input__name::-webkit-input-placeholder,
.input__phone::-webkit-input-placeholder {
  color: rgba(44, 63, 83, 0.8);
}

.input__name:-ms-input-placeholder,
.input__phone:-ms-input-placeholder {
  color: rgba(44, 63, 83, 0.8);
}

.input__name::-ms-input-placeholder,
.input__phone::-ms-input-placeholder {
  color: rgba(44, 63, 83, 0.8);
}

.input__name::placeholder,
.input__phone::placeholder {
  color: rgba(44, 63, 83, 0.8);
}

.input__name:focus::-webkit-input-placeholder,
.input__phone:focus::-webkit-input-placeholder {
  color: #241f20;
}

.input__name:focus:-ms-input-placeholder,
.input__phone:focus:-ms-input-placeholder {
  color: #241f20;
}

.input__name:focus::-ms-input-placeholder,
.input__phone:focus::-ms-input-placeholder {
  color: #241f20;
}

.input__name:focus::placeholder,
.input__phone:focus::placeholder {
  color: #241f20;
}

.application__btn {
  display: block;
  width: 153px;
  height: 55px;
  background: #dc143c;
  -webkit-box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
          box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 18px;
  line-height: 18px;
  color: #f5f7f9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.application__btn:hover {
  background-color: #f3214b;
}

/*===== meaning styles =====*/
.meaning {
  margin-bottom: 100px;
}

.meaning__title {
  max-width: 740px;
  margin-bottom: 35px;
}

.meaning__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meaning__item {
  width: 28.5%;
}

.meaning__heading {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #241f20;
}

.meaning__text {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

.meaning__img {
  width: 100%;
}

.meaning__img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/*===== private styles =====*/
.private {
  margin-bottom: 100px;
}

.private__title {
  margin-bottom: 35px;
}

.private__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.private__item:first-child {
  position: relative;
  width: 35.6%;
  left: -67px;
}

.private__item:first-child img {
  display: block;
  width: 100%;
  height: auto;
}

.private__item:nth-child(2) {
  width: 37%;
  margin-right: 3.5%;
}

.private__item:nth-child(3) {
  width: 30%;
}

.private__item:nth-child(2),
.private__item:nth-child(3) {
  margin-top: 148px;
  padding: 20px 25px 20px 20px;
}

.private__heading {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #241f20;
}

.private__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
}

/*===== tariffs styles =====*/
.tariffs {
  margin-bottom: 100px;
}

.tariffs__title {
  margin-bottom: 35px;
}

.tariffs_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #241f20;
}

.tariffs_subtitle span {
  margin-right: 9px;
}

.tariffs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
  padding: 28px 30px 30px 30px;
  border: 1px solid #dbdee1;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tariffs__item:last-child {
  margin-bottom: 0;
}

.tariffs__item:hover {
  -webkit-box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08), 0px 1px 2px rgba(11, 31, 53, 0.16);
          box-shadow: 0px 4px 12px rgba(11, 31, 53, 0.08), 0px 1px 2px rgba(11, 31, 53, 0.16);
}

.tariffs__img {
  max-width: 274px;
  max-height: 274px;
  margin-right: 57px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tariffs__img img {
  display: block;
  width: 100%;
  height: auto;
}

.tariffs__info {
  width: 100%;
  border-bottom: 1px solid rgba(99, 86, 86, 0.2);
}

.tariffs__heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
  color: #241f20;
}

.tariffs__subheading {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #241f20;
}

.tariffs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tariffs__text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #241f20;
}

.tariffs__descr {
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #647180;
}

.tariffs__price {
  margin-right: 70px;
}

.tariffs__staff {
  margin-right: 33px;
}

/*===== team styles =====*/
.team {
  margin-bottom: 100px;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.team__info {
  width: 28.5%;
  margin-right: 5.2%;
}

.team__title {
  margin-bottom: 35px;
}

.team__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #241f20;
}

.team__slider {
  position: relative;
  width: 66.3%;
}

.team__slider-container {
  position: relative;
  left: 35px;
}

.team__sliderItem img {
  display: block;
  max-width: 650px;
  height: auto;
  border-radius: 4px;
}

.team__sliderBG {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -35px;
  width: 12%;
  z-index: 10;
  background: -webkit-gradient(linear, right top, left top, color-stop(0, #ffffff), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(270deg, #ffffff 0, rgba(255, 255, 255, 0.8) 100%);
}

.team__prev,
.team__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 12;
  cursor: pointer;
}

.team__prev path,
.team__next path {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team__prev:hover path,
.team__next:hover path {
  fill-opacity: 1;
}

.team__prev {
  left: 0;
}

.team__prev.hidden {
  visibility: hidden;
}

.team__next {
  right: 35px;
}

.team__next.hidden {
  visibility: hidden;
}

/*===== ability styles =====*/
.ability {
  margin-bottom: 100px;
}

.ability__title {
  margin-bottom: 35px;
}

.ability__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 484px;
  margin: 0 auto 36px;
}

.ability__btn,
.unability__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 274px;
  height: 66px;
  background: #f5f7f9;
  border-radius: 4px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2c3f53;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ability__btn svg,
.unability__btn svg {
  margin-right: 17px;
}

.ability__btn.active,
.unability__btn.active {
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: scaleY(2px) translateY(2px);
          transform: scaleY(2px) translateY(2px);
}

.ability__btn path,
.unability__btn path {
  fill: #241f20;
}

.ability__btn.active path,
.unability__btn.active path {
  fill: #dc143c;
}

.ability__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ability__item {
  width: 148px;
  height: 199px;
  padding: 10px;
  border: 1px solid #eeeff1;
  -webkit-box-shadow: 0px 2px 10px -3px rgba(4, 4, 4, 0.2);
          box-shadow: 0px 2px 10px -3px rgba(4, 4, 4, 0.2);
  border-radius: 12px;
}

.ability__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ability__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ability__content.active {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ability__yes,
.ability__no {
  width: 50%;
  height: 100%;
}

.ability__icon {
  margin-bottom: 17px;
}

.ability__text {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #241f20;
}

/*===== clients styles =====*/
.clients {
  margin-bottom: 100px;
}

.clients__title {
  margin-bottom: 73px;
}

.clients__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__logo {
  height: 35px;
  width: auto;
  margin-right: 20px;
  margin-bottom: 30px;
}

/*===== reviews styles =====*/
.reviews {
  margin-bottom: 100px;
}

.reviews__title {
  margin-bottom: 35px;
}

.reviews__slider {
  margin-bottom: 45px;
}

.reviews__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 361px;
  padding: 16px 16px 51px 16px;
  border: 1px solid #eeeff1;
  -webkit-box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
          box-shadow: 0px 7px 14px rgba(11, 31, 53, 0.1);
  border-radius: 8px;
}

.reviews__heading {
  min-height: 54px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #241f20;
}

.reviews__subheading {
  min-height: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
}

.reviews__img {
  position: relative;
  width: 100%;
  height: 217px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #eeeff1;
  border-radius: 8px;
}

.reviews__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.reviews__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: inset 0px 7px 14px rgba(11, 31, 53, 0.1);
          box-shadow: inset 0px 7px 14px rgba(11, 31, 53, 0.1);
  cursor: pointer;
}

.reviews__hover:hover {
  opacity: 1;
}

.reviews__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #dc143c;
  background: rgba(160, 8, 56, 0.3);
  border-radius: 8px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__hover img {
  display: block;
  width: 52px;
  height: 52px;
}

.reviews__thanks {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  max-height: 134px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

.review__arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%) rotateX(180deg);
          transform: translateX(-50%) rotateX(180deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.review__arrow.active {
  -webkit-transform: translateX(-50%) rotateX(0);
          transform: translateX(-50%) rotateX(0);
}

.review__arrow path {
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

.review__arrow:hover path {
  fill-opacity: 1;
}

.reviews__white-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(40%, white), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, white 40%, white 100%);
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

.reviews__white-bg.active {
  opacity: 0;
}

.reviews__black-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews__black-bg.active {
  visibility: visible;
  opacity: 1;
}

.review__img-fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  width: auto;
  height: 80%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.review__img-fullscreen.active {
  visibility: visible;
  opacity: 1;
}

.review__img-fullscreen img {
  display: block;
  width: auto;
  height: 100%;
}

.review__close {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.review__close path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.review__close:hover path {
  fill-opacity: 1;
}

.reviews__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__dot {
  width: 10px;
  height: 10px;
  margin-right: 30px;
  border-radius: 50%;
  background: rgba(15, 29, 32, 0.05);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews__dot:hover {
  background: rgba(15, 29, 32, 0.2);
}

.reviews__dot:last-child {
  margin-right: 0;
}

.reviews__dot--active {
  background-color: #dc143c;
}

/*===== faq styles =====*/
.faq {
  margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq__item {
  border-top: 1px rgba(196, 196, 196, 0.8) solid;
  padding: 27px 0 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faq__item:last-child {
  border-bottom: 1px rgba(196, 196, 196, 0.8) solid;
}

.faq__heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 25px;
}

.faq__opened {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faq__topic {
  margin-left: 26px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.005em;
  color: #241f20;
}

.faq__text {
  max-height: 0;
  max-width: 856px;
  visibility: hidden;
  overflow: hidden;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #241f20;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* accordeon */
.faq__item.active .faq__opened {
  -webkit-transform: translateY(-50%) rotateX(180deg);
          transform: translateY(-50%) rotateX(180deg);
}

.faq__item.active .faq__text {
  max-height: 100px;
  visibility: visible;
  overflow: none;
  padding-bottom: 30px;
}

/*===== second application styles =====*/
.secondApp {
  padding: 0;
  background: transparent;
}

.secondApp .container {
  position: relative;
}

.secondApp__bg {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 180px;
  height: 181px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.secondApp .input__name,
.secondApp .input__phone {
  background: #fbfbfb;
  border: 1px solid #eeeff1;
  border-bottom: 1px solid #7f8a96;
}

/*===== info styles =====*/
.info .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info__map {
  width: 52%;
}

.info__contacts {
  max-width: 433px;
  padding: 100px 0 100px 100px;
}

.info__title {
  margin-bottom: 35px;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__item {
  max-width: 161px;
  margin-bottom: 40px;
}

.info__item:nth-child(1), .info__item:nth-child(3) {
  margin-right: 100px;
}

.info__heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #241f20;
}
